@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  background-color: #89aed3; /* light background */
  background-image: url('/images/bg.jpg'); /* optional image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}
#app{
    background-color: rgb(170, 244, 247);
    width: 100%;
    min-height: 100vh;
   display: flex;
  flex-direction: column;
  margin: 0;
}
